<a href="https://colab.research.google.com/github/sonejamohit/Email_Classification/blob/main/Email_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np    #array
import pandas as pd   #dataframe
from sklearn.model_selection import train_test_split          #split into train and test
from sklearn.feature_extraction.text import TfidfVectorizer   #text to numeric value conversion[feature vector]
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
unclean_email_data=pd.read_csv('/content/email_dataset.csv')

In [5]:
print(unclean_email_data)

      Unnamed: 0 Label                                           MailText  \
0            605   ham  Subject: enron methanol ; meter # : 988291\r\n...
1           2349   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2           3624   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3           4685  spam  Subject: photoshop , windows , office . cheap ...
4           2030   ham  Subject: re : indian springs\r\nthis deal is t...
...          ...   ...                                                ...
5166        1518   ham  Subject: put the 10 on the ft\r\nthe transport...
5167         404   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168        2933   ham  Subject: calpine daily gas nomination\r\n>\r\n...
5169        1409   ham  Subject: industrial worksheets for august 2000...
5170        4807  spam  Subject: important online banking alert\r\ndea...

      Label_Number
0                0
1                0
2                0
3                1
4                0
...            ...
5166             0
5167             0
5168             0
5169             0
5170             1

[5171 rows x 4 columns]

In [6]:
mail_data = unclean_email_data.where((pd.notnull(unclean_email_data)),'')

In [7]:
mail_data.head()

,Unnamed: 0,Label,MailText,Label_Number
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [8]:
mail_data.shape

(5171, 4)

In [11]:
mail_data.loc[mail_data['Label'] == 'spam', 'Label',] = 0
mail_data.loc[mail_data['Label'] == 'ham', 'Label',] = 1

In [13]:
X = mail_data['MailText']
Y = mail_data['Label']

In [14]:
print(X)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: MailText, Length: 5171, dtype: object

In [15]:
print(Y)

0       1
1       1
2       1
3       0
4       1
       ..
5166    1
5167    1
5168    1
5169    1
5170    0
Name: Label, Length: 5171, dtype: object

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=3)

In [17]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5171,)
(4136,)
(1035,)

In [18]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [19]:
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [20]:
print(X_train)

2209    Subject: hplc to wellhead\r\ndaren here is the...
2000    Subject: mobil chemical - hpl meter # 1256 - e...
5030    Subject: revised nom 5 / 5 - eastrans ; revise...
1376    Subject: re : exxon company , usa global # 960...
1564    Subject: your pharmacy nx\r\nwant a cheap pain...
                              ...
789     Subject: incr ' ease yo ' ur man ' hood by 4 -...
968     Subject: subscribers receive first notice on r...
1667    Subject: neon for march 28\r\nhere is the neon...
3321    Subject: re : first delivery - pure resources ...
1688    Subject: enhance your chest size\r\nemail is l...
Name: MailText, Length: 4136, dtype: object

In [21]:
print(X_train_features)

  (0, 3871)	0.13387711316973605
  (0, 531)	0.14556222812251965
  (0, 30451)	0.08468916670398006
  (0, 43273)	0.14556222812251965
  (0, 3890)	0.14556222812251965
  (0, 548)	0.14556222812251965
  (0, 37262)	0.11275796314501375
  (0, 2908)	0.11535664415295803
  (0, 456)	0.14556222812251965
  (0, 26297)	0.09506000151609588
  (0, 36190)	0.11400727959297849
  (0, 2478)	0.13872687405852518
  (0, 521)	0.14556222812251965
  (0, 16808)	0.11843023142166303
  (0, 22041)	0.13387711316973605
  (0, 2706)	0.14556222812251965
  (0, 522)	0.14556222812251965
  (0, 32060)	0.07311834410351342
  (0, 19411)	0.04211028825505044
  (0, 2537)	0.13872687405852518
  (0, 517)	0.14556222812251965
  (0, 19429)	0.14556222812251965
  (0, 16637)	0.24438399643390496
  (0, 3875)	0.14556222812251965
  (0, 836)	0.14556222812251965
  :	:
  (4135, 8873)	0.07154271542163933
  (4135, 16161)	0.07327358549803296
  (4135, 26936)	0.07154271542163933
  (4135, 15691)	0.07812310961344454
  (4135, 14167)	0.07812310961344454
  (4135, 11832)	0.07539199926380867
  (4135, 4961)	0.07539199926380867
  (4135, 7395)	0.07154271542163933
  (4135, 10238)	0.06669319130622776
  (4135, 29033)	0.057994383348646844
  (4135, 22458)	0.05353240292261735
  (4135, 14390)	0.05726375354549545
  (4135, 16537)	0.07154271542163933
  (4135, 42960)	0.06496232122983413
  (4135, 16217)	0.06769343157946998
  (4135, 26408)	0.046488819206390516
  (4135, 14282)	0.06669319130622776
  (4135, 27714)	0.031300464660012135
  (4135, 16475)	0.03146157037949769
  (4135, 38725)	0.04124090788006661
  (4135, 43426)	0.05920796972538574
  (4135, 20748)	0.05068335935369024
  (4135, 14513)	0.056585357723181545
  (4135, 36190)	0.06420243561903816
  (4135, 38946)	0.009493502067611905

In [22]:
model = LogisticRegression()

In [23]:
model.fit(X_train_features, Y_train)

LogisticRegression()

In [24]:
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [25]:
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.9970986460348162

In [26]:
input_mail = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]

In [27]:
# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)

[0]

In [28]:
if (prediction[0]==1):
  print('Ham mail')

else:
  print('Spam mail')

Spam mail